<h2>Admin dashboard</h2>
<ul>
	<li><a href="/admin/stats">Stats</a></li>
	<li><a href="/admin/duplicate/artist">Duplicate artists</a></li>
	<li><a href="/admin/duplicate/track">Duplicate tracks</a></li>
	<li><a href="/admin/duplicate/album">Duplicate albums</a></li>
</ul>