<h1>TOP artists</h1>
<% for artist in @artists %>
<ul>
	<li>Play count: <%= artist.cnt %></li>
	<% if !artist.id.nil? %><li>id: <%= artist.id %></li><% end %>
	<% if !artist.artistname.empty? %><li>name: <%= artist.artistname %></li><% end %>
</ul>
<% end %>
</ul>