
<style>
.missing{text-decoration:line-through;}
</style>

<div class="snippet">
 <!-- <form action="/" method="POST">
		<p>
    <label for="artistname">Artist:</label>
    <input type="text" name="artistname" id="artistname"  size="20"/>
    </p>
		<p>
    <label for="tracktitle">Track:</label>
    <input type="text" name="tracktitle" id="tracktitle" size="20"/>
    </p>
		<p>
    <label for="albumname">Album:</label>
    <input type="text" name="albumname"  id="albumname" size="20"/>
    </p>
		<input type="submit" value="Save"/>
	</form> 
	-->
<p>
The pav:api is under development and currently supports the following url 
patterns. More to come.
</p>
<p>
Return type can either be infered by content negotiation (by setting request Accept header to 
desired content type) or by appending the content type to the url (.html, .xml, .json). JsonP for cross-domain access is delivered to requests with callback param.
</p>

<ul>
	<li><a href="/artists">/artists {html | xml | json}</a></li>

	<li><a href="/artists/4">/artists/:limit {html | xml | json}</a></li>

	<li><a href="/artist/2">/artist/:id {html | xml | json}</a></li>

	<li><a href="/artist/2/tracks">/artist/:id/tracks {html | xml}</a></li>

	<li><a href="/albums">/albums {html | xml | json}</a></li>
	
	<li><a href="/albums/10">/albums/:limit {html | xml | json}</a></li>
	
	<li><a href="/album/2">/album/:id {html | xml | json}</a></li>

	<li><a href="/album/2/tracks.xml">/album/:id/tracks {html | xml | json}</a></li>

	<li><a href="/tracks">/tracks/ {html | xml | json}</a></li></li>

	<li><a href="/tracks/40">/tracks/:limit {html | xml | json}</a></li></li>
	
	<li><a href="/track/2">/track/:id {html | xml | json}</a></li>

	<li><a href="/track/6/artists">/track/:id/artists {html | xml | json}</a></li>

	<li><a href="/track/6/albums">/track/:id/albums {html | xml | json}</a></li>

	<li><a href="/track/6/plays">/track/:id/plays {html | xml | json}</a></li>

	<li><a href="/channel/1.xml">/channel/:id {xml}</a></li>

	<li><a href="/channel/1/plays.xml">/channel/:id/plays {xml}</a></li>

	<li><a href="/chart/track.xml?played_from=2010-05-10">/chart/track?played_from=yyyy-mm-dd {xml}</a></li>

	<li><a href="/chart/artist.xml">/chart/artist {xml}</a></li>

	<li><a href="/chart/artist.xml?played_from=2010-05-10&played_to=2010-05-11">/chart/artist?played_from=yyyy-mm-dd&played_to=yyyy-mm-dd {xml}</a></li>
	
	<li><a href="/chart/album.xml">/chart/album {xml}</a></li>

	<li class="missing">/chart/channel/:id/tracks</li>

	<li class="missing">/chart/channel/:id/artists</li>

	<li class="missing">/chart/channel/:id/albums</li>
	
	<li><a href="/stats">/stats</a></li>

	<li><a href="/search/a">/search/query {html | xml | json}</a></li>

</ul></div>
