<h2>Server information</h2>
<p>A high level overview of the different systems used in our stack</p>
<ul>
	<li>centos 5.6 linux</li>
	<li>varnish 3.0.0 as reverse proxy in front of apache 2.2.3</li>
	<li>sinatra app (ruby 1.9.2 with rvm) running on rack and passenger</li>
	<li>beanstalkd as worker queue</li>
	<li>mysql 5.0.77</li>
</ul>
