<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>pav api</title>
<link rel="stylesheet" href="/css/master.css" type="text/css" />

<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

<link rel="shortcut icon" href="/images/sim.png">

</head>

<body>
	<div id="wrapper">
<a href="http://github.com/simonhn"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" />
</a>
<header id="main">
	  <hgroup> 
      <h3><a href="http://abcdigmusic.net.au">dig</a></h3> 
      <h2>Presents</h2> 
      <h1>the pav<em>api</em><span>to</span>playlist data</h1> 
    </hgroup> 
  </header>
<section>
	<%= yield %>
	</section>
	</div>
</body>
</html>
