<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8" />
<title>pav api</title>
<link rel="stylesheet" href="/css/bootstrap-1.4.0.css" type="text/css" />
<link rel="stylesheet" href="/css/master.css" type="text/css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
<link rel="shortcut icon" href="/images/favicon.ico"/>
</head>

<body>
	<div class="container">
		<a href="http://github.com/simonhn"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>
		<header id="main">
	  	<hgroup> 
      	<a href="/"><h1>pav:api</h1></a>
    	</hgroup> 
  	</header>
		<div id="main-content">
			<%= yield %>
		</div>
	</div>
</body>
</html>