<form action='/v1/admin/merge-artists' method="POST">
        Artist to delete<input type="text" name="id_old" />

Artist to keep        
<input type="text" name="id_new" />

        <input type="submit" value="Merge!" />
</form>