<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js" type="text/javascript"></script>
<style>

.same{
	background-image:url('/images/same_icon.png');
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;
}
.new{
	background-image:url('/images/new_icon.png');
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;
	
}
.up{
	background-image:url('/images/up_icon.png');
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;
}
.down{
	background-image:url('/images/down_icon.png');
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;
}

.album-image img{
	width:60px;
	height:60px;
}

</style>

<script>
var this_week, prev_week = null;
var new_chart = [];
var program_id = '<%=@program%>';
function makeChart() {
		//make sure that both jsonp calls have finished before making the chart
    if (this_week && prev_week) {
			//console.log('this week', this_week);
			//console.log('prev week', prev_week);
			$.each( this_week, function (i, item) {
				var this_week_id = item.track_id;
				//default to 'new' status
				item.status = "new";
				
				//default to empty diff
				item.diff = '';

				item.prev_count = '';

				
				//for each of this weeks items, run through prev weeks items
				$.each(prev_week, function (is, item2) {
					//check if track was played last week
					if(this_week_id === item2.track_id) {
						//UP
						if( i< is) {
							item.status = "up";
							item.diff = is - i;
							item.prev_count = item2.count;
						}
						
						//DOWN
						else if(i > is) {
							item.status = "down";
							item.diff = i-is;
							item.prev_count = item2.count;
						}
						
						//SAME
						else if(i === is) {
							item.status = "same";
							item.diff = 0;
						}
					}//end if
					
					//add item to new chart
					new_chart[i] = item;
				});//end for each
				
			});//end outer for each
			
			//display new chart
			$.each(new_chart, function (i, item) {
				var number = i +1;
				var content = '<tr><td class="number">' + number + '</td><td class="status"><span class=' + item.status + '>&nbsp;</span></td><td class="title">' + item.title + '</td><td class="name">' + item.artistname + '</td><td class="plays">' + item.count + '</td><td class="diff">' + item.diff + '</td><td class="prev=cnt">' + item.prev_count + '</td><td class="album-image"><img src="' + item.albumimage + '"/></td></tr>';
				$(content).appendTo("#artists");
			});
		}//end if
}

function formatDate(then) {
	var month = then.getMonth() + 1;
	if (month < 10) {
		month = "0" + month;
	}
	var day = then.getDate();
	if (day < 10) {
		day = "0" + day;
	}
	var year = then.getFullYear();
	var last_week = year + "-" + month + "-" + day;
	return last_week;
}

function thisWeek() {
	var from = new Date();	
	from.setDate(from.getDate() - 3);
	var from_date = formatDate(from);
	
	$.ajax({
	  url: "http://96.126.96.51/v1/chart/track",
	  dataType: "jsonp",
          data: {
							program: program_id,
							from: from_date,
              format: "json"
							},
		success: function(result) { 
	    this_week = result;
			makeChart();
    }
	});
}

function prevWeek() {
	var from = new Date();	
	from.setDate(from.getDate() - 6);
	var from_date = formatDate(from);

	var to = new Date();	
	to.setDate(to.getDate() - 3);
	var to_date = formatDate(to);

   $.ajax({
	  url: "http://96.126.96.51/v1/chart/track",
	  dataType: "jsonp",
          data: {
							program: program_id,
							to: to_date,
							from: from_date,
              format: "json"
							},
		success: function(result) { 
	    prev_week = result;
			makeChart();
			}
		});
}
thisWeek();
prevWeek();

</script>

<div id="wrapper">
	<div class="demo">
		<p><h1>Track Chart for a program</h1></p>
		<p>Last 3 days compared with previous 3 days</p>
	  <div id="chart">
			<table id="artists" border="0">
				<tbody>
					<tr><td class="number"></td><td class="status"><span class='+item.status+'></span></td><td class="title"></td><td class="name"></td><td class="plays">cnt</td><td class="diff">pos diff</td><td class="prev-cnt">prev cnt</td><td class="album-image"></td></tr>
  			</tbody>
			</table>
	  </div>
	</div><!-- End demo -->
</div>