body { font-family: " Georgia, serif"; margin: 0; padding: 0; }
header, article, section, aside, footer { display: block; }
h1, h2, h3, h4, h5, h6, p { margin: 0; padding: 0; font-weight: normal; }
a { color: inherit; text-decoration: none; }
a:hover {
    border-bottom: 1px solid #555;
    background-color:#FFF461;
    color:#222222;  
}
div#wrapper { margin: 2em auto 0; width: 550px; padding: 0 0 1em 0; }
header#main { width: 550px; margin: 0 auto; border-bottom: 3px double rgba(0, 0, 0, 0.5); }

header#main h1{font-family: 'Helvetica Neue', Helvetica, sans-serif;
text-shadow: 0 1px 0 white;
color: black;
font-size: 58px;
line-height: 1.0em;
letter-spacing: -1px;
margin-top: 60px;
margin-bottom: 10px;
font-weight: bold;
}

h2{
   font-family: 'Helvetica Neue', Helvetica, sans-serif;
   text-shadow: 0 1px 0 white;
   color: black;
   letter-spacing: -1px;
   font-weight: bold;
}


p {
	padding: 5px 0;
}

.missing{text-decoration:line-through;}
