h1{
  font-size: 3em;
  font-weight: 300;
}
ul li a{
	font-weight: normal;
}
ul li ul li a{
	font-weight: normal;
}

.row .span5{
  background-color: #F8F8F8;
  border: 1px #CCC solid;
	padding:1em;
	-webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
  box-shadow: 0 1px 2px rgba(0,0,0,.1);
  float:right;
}

